# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish be committed to your repository
# (Comment the line below if you do want to commit the VS Code folder)
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.xcframework
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Web support:
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xcworkspace
**/ios/**/.sconsign.dblite
**/ios/**/.tags
**/ios/**/.tangent
**/ios/**/.theos/
**/ios/**/DerivedData/
**/ios/**/local.properties
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/.last_build_id
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.xcframework
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/Flutter/flutter_assets
**/ios/**/ServiceDefinitions.json
**/ios/**/Runner/GeneratedPluginRegistrant.*

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Generated files
*.g.dart
*.config.dart
*.freezed.dart
